<div class="backdrop" [ngStyle]="{'display': display}"></div>
<!-- Modal -->
<div id="myModal" class="modal" role="dialog" [ngStyle]="{'display': display}">
   <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" (click)="onErrorHandled()">&times;</button>
            <h4 class="modal-title">{{ error?.title }}</h4>
         </div>
         <div class="modal-body">
            <p>{{ error?.message }}</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onErrorHandled()">Close</button>
         </div>
      </div>

   </div>
</div>